* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-wraper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: flex-end;
    color: #666666;
    flex-direction: row;
    height: 55px;
}

.nav-group-logo {
    color: #cd23b3;
    font-style: italic;
    font-weight: bold;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
}

.nav-group-page-itens {
    width: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

.nav-group-page-itens a:hover {
    background-color: lightgray;
}

.nav-group-page-itens a {
    padding: 4px 8px;
}

.nav-group-social-icons {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-home {
    min-height: calc(100vh - 55px);
    display: flex;
    align-items: center;
}

.section-home-item {
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #42446e;
    display: flex;
    justify-content: space-between;
}

.profile-img {
    border-radius: 50%;
}

.my-name {
    background-image: linear-gradient(to right, #21a6f0, #13B0F5, #42446E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me,
.work-experience,
.education {
    color: #42446E;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 25px;
    width: 50rem;
    margin-top: 145px;
    margin-bottom: 145px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4px;
}

.text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    color:#666666
}

.work-experience {
    margin-top: 30px;
}

.title-jobs {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin-top: 20px;
    font-size: 20px;
    color: #666666;
}

.icons-jobs {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin-top: 20px;
    color: #A7A7A7;
}

.education {
    margin-top: 30px;
}

.engenharia {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin-top: 20px;
}
